global !p

endglobal

# NOTE:
#	Can start programmed sections with `[!<letter>] `
#		No !<letter> = shell
#		!p = python
#		!v = vimscript
#
#	In python block
#		snip.rv is the return value
#		snip.c is the current value
#		t is an array of the current tabstop values (updated as you type)
